<header active-option="members"></header>
<h1>{{vm.member.name}}</h1>
<div ng-show="vm.editMode">
  <label for="newPassword">New Password</label>
  <input type="text" id="newPassword" class="form-control" ng-model="vm.passwordData.password" placeholder="New password" />
</div>
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h2 class="panel-title pull-left">Favourite Heroes</h2>
    <span class="pull-right">
      <button class="btn btn-sm" ng-click="vm.toggleEditMode()" ng-class="{'btn-primary' : vm.editMode, 'btn-info' : !vm.editMode}">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <role-column ng-repeat="role in vm.roles" role="role" heroes="vm.member.favByRole[role.id]" edit-mode="vm.editMode" toggle-edit-mode="vm.toggleEditMode" add-hero-to-favourites = "vm.addHeroToFavourites(heroData)" delete-hero-from-favourites="vm.deleteHeroFromFavourites(role, hero)" all-heroes="vm.allHeroes"></role-column>
    </div>
  </div>
</div>
