<header active-option="members"></header>
<h1>{{vm.member.name}}</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Favourite Heroes</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <role-column role="Safelane" heroes="vm.member.favByRole['safelane']"></role-column>
      <role-column role="Mid" heroes="vm.member.favByRole['mid']"></role-column>
      <role-column role="Support" heroes="vm.member.favByRole['support']"></role-column>
      <role-column role="Offlane" heroes="vm.member.favByRole['offlane']"></role-column>
      <role-column role="Roaming" heroes="vm.member.favByRole['roaming']"></role-column>
      <role-column role="Jungle" heroes="vm.member.favByRole['jungle']"></role-column>
    </div>
  </div>
</div>
