<div class="col-md-2 col-sm-12 col-xs-12 row-eq-height role-column">
  <h3>{{vm.role.label}}</h3>
  <ul class="list-group">
    <li ng-repeat="hero in vm.heroes" class="list-group-item clearfix no-gutter"
        ng-class="{'list-group-item-success': hero.degree === 1, 'list-group-item-warning': hero.degree === 2, 'list-group-item-danger': hero.degree === 3}">
      <span class="text-left" ng-class="{'col-md-9' : vm.editMode}">{{hero.name}}</span>
      <span class="pull-right col-md-3" ng-show="vm.editMode">
        <button class="btn btn-sm btn-danger" ng-click="vm.deleteHeroFromFavourites({role: vm.role.id, hero: hero.name})">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </span>
    </li>

    <li class="list-group-item" ng-show="vm.editMode">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add{{vm.role.label}}Hero">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
      </button>
      <div class="modal fade add{{vm.role.label}}Hero" tabindex="-1" role="dialog" aria-labelledby="add{{vm.role.label}}HeroLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="add{{vm.role.label}}HeroLabel">Add {{vm.role.label}} Hero</h4>
            </div>
            <div class="modal-body">
              <label for="add{{vm.role.label}}HeroName">Hero</label>
              <select class="form-control" ng-model="vm.newHero.hero" id="add{{vm.role.label}}HeroName">
                <option ng-repeat="hero in vm.allHeroes" value="{{hero.name}}">{{hero.name}}</option>
              </select>
              <label for="add{{vm.role.label}}HeroDegree">Degree</label>
              <select class="form-control" ng-model="vm.newHero.degree" id="add{{vm.role.label}}HeroDegree">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.eraseNewHero()">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.addHeroAndErase()">Add hero</button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
