<header active-option="heroes"></header>
<h1>Heroes</h1>
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">
    <ul class="list-group">
       <a href="/heroes/{{hero._id}}" class="list-group-item" ng-repeat="hero in vm.heroes">{{hero.name}}</a>
    </ul>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="form-group">
       <label for="heroName">Hero Name</label>
       <input type="text" name="heroName" class="form-control" ng-model="vm.newHero.name" placeholder="Name">
        <label for="heroMainAttr">Hero Main Attribute (STR, AGI, INT)</label>
        <input type="text" name="heroMainAttr" class="form-control" ng-model="vm.newHero.mainAttr" placeholder="Main Attribute">
     </div>
     <button type="submit" class="btn btn-primary" ng-click="vm.createHero()">Add</button>
 </div>
  </div>
</div>
